---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";

const blogContent = [

    {
        title: "Kondom",
        image: "/images/kondombillede.jpg"
    },
    {
        title: "Lingerie",
        image: "/images/lingerie.jpg"
    },
    {
        title: "Butt plug",
        image: "/images/butt plug.jpg"
    },
    {
        title: "Pocket pussy",
        image: "/images/Pocketpussy.jpg"
    },
    {
        title: "Penis forstørre?",
        image: "/images/Penispumpe.jpg"
    },
    {
        title: "Dildo",
        image: "/images/Dildo.jpg"
    },
]
---

<Layout>
    <main>
        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
              <div class="mx-auto text-left"><h6> <br>Forside/18+</h6>
                <button class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                <h2 class="text-3xl font-bold tracking-tight text-white-900 sm:text-2xl">Tips & Tricks</h2>
                <h2 class="text-3xl font-bold tracking-tight text-white-900 sm:text-2xl">Brevkasse</h2></button>
                <section class="mx-auto mt-18 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">{blogContent.map((artikel) => <BlogCard title={artikel.title}  image={artikel.image} />)}</section>
                
              </div>
              
            </div>
          </div>
    </main>
</Layout>
