---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="mx-auto w-full max-w-7xl px-6 pb-16 pt-10 sm:pb-24 lg:px-8">
    <img
      class="mx-auto h-10 w-auto sm:h-12"
      src="/logo-black.svg"
      alt="Your Company"
    />
    <div class="mx-auto mt-20 max-w-4xl text-center sm:mt-24">
      <p class="text-base font-semibold leading-8 text-red-600">404</p>
      <h1
        class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
      >
        Denne side er under opbygning
      </h1>
      <p
        class="mt-4 text-base leading-7 text-gray-600 sm:mt-6 sm:text-lg sm:leading-8"
      >
        Vi kunne ikke finde hvad du ledte efter. Prøv en af valgmulighederne nedenfor.
      </p>
    </div>
    <div class="mx-auto mt-16 flow-root max-w-lg sm:mt-20">
      <h2 class="sr-only">Populære sider</h2>
      <ul
        role="list"
        class="-mt-6 divide-y divide-gray-900/5 border-b border-gray-900/5"
      >
        <li class="relative flex gap-x-6 py-6">
          <div class="flex-auto">
            <h3 class="text-sm font-semibold leading-6 text-gray-900">
              <a href="/">
                <span class="absolute inset-0" aria-hidden="true"></span>
                 Forside
              </a>
            </h3>
          </div>
          <div class="flex-none self-center">
            <svg
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </li>
        <li class="relative flex gap-x-6 py-6">
          <div class="flex-auto">
            <h3 class="text-sm font-semibold leading-6 text-gray-900">
              <a href="/18">
                <span class="absolute inset-0" aria-hidden="true"></span>
                 18+
              </a>
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">
              Her vil du kunne finde relevant indhold til unge
            </p>
          </div>
          <div class="flex-none self-center">
            <svg
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </li>
        <li class="relative flex gap-x-6 py-6">
          
          <div class="flex-auto">
            <h3 class="text-sm font-semibold leading-6 text-gray-900">
              <a href="/tips-and-tricks">
                <span class="absolute inset-0" aria-hidden="true"></span>
                 Tips & tricks
              </a>
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">
              Spice dit forhold op med anbefalinger fra vores eksperter.
            </p>
          </div>
          <div class="flex-none self-center">
            <svg
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </li>
        <li class="relative flex gap-x-6 py-6">
          
          <div class="flex-auto">
            <h3 class="text-sm font-semibold leading-6 text-gray-900">
              <a href="/artikel">
                <span class="absolute inset-0" aria-hidden="true"></span>
                 Artikel
              </a>
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">
              Bliv selv en ekspert, så du kan 
            </p>
          </div>
          <div class="flex-none self-center">
            <svg
              class="h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </li>
      </ul>
      <div class="mt-10 flex justify-center">
        <a href="/" class="text-sm font-semibold leading-6 text-red-600">
          <span aria-hidden="true">&larr;</span>
           Tilbage til forsiden
        </a>
      </div>
    </div>
  </main>
</Layout>
