---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article>
    <img alt="artikel hero" src="images/par.png" class="mx-auto" />
    <div class="bg-white px-6 py-32 lg:px-8">
      <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
        <h1
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          Tips & Tricks
        </h1>
        <p class="mt-6 text-xl leading-8">Skal vi have sex?</p>
        <div class="mt-10 max-w-2xl prose lg:prose-xl">
          <p>
            En ny undersøgelse viser, at mange danskere, især unge, har svært
            ved at afgøre, om de har fået ja eller nej til sex.
          </p>
          <p>
            Hvordan spørger man er andet menneske om de vil have sex med en?
          </p>
          <p>Og spørger man overhovedet?</p>
          <p>
            Man kan spørge helt direkte. Faktisk er det bedre at spørge, end at
            have sex med en, som måske var i tvivl.
          </p>
          <p>
            For nogle er det nok med kropssprog. Men undersøgelsen viser, at
            flere af os finder det unaturligt at spørge om samtykke til sex, og
            mange har svært ved at vurdere, om den anden samtykker - blandt
            andet kæmper vi med at aflæse kropssprog.
          </p>
          <img class="artikel" src="images/artikel.jpeg" />
          <p>
            En god måde at spørge på, kunne være "Jeg kan rigtig godt lide dig
            og jeg har lyst til dig".
          </p>
          <p>
            Vil du godt bolle med mig? Må jeg røre dig her? Vil du med hjem?
          </p>
          <p>
            Ja, der er mange måder at gøre det på. At sikre sig samtykke til
            sexkan nemlig lyde meget forskelligt, alt efter hvem du spørger.
          </p>
          <p>Og frygter du en afvisning?</p>
          <p>
            Hvis du får et nej: Er det så ikke federe at lade stemningen være
            akavet end at have bollet med en, der i virkeligheden slet ikke har
            lyst til at bolle med dig?
          </p>
        </div>
      </div>
    </div>
  </article>
</Layout>
