---
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/Layout.astro";

const blogContent = [
    {
        title: "Skal vi have sex?",
        tidsdpunkt: new Date("2023-11-10"),
        image: "/images/sex.jpg",
        href: "/artikel"
    },
    {
        title: "Hvordan slapper jeg af under oral sex?",
        tidsdpunkt: new Date("2023-11-11"),
        image: "/images/oral.jpg"
    },
    {
        title: "Er det okay at sige stop?",
        tidsdpunkt: new Date("2023-11-12"),
        image: "/images/stop.jpg"
    },
    {
        title: "Tips til et godt blowjob?",
        tidsdpunkt: new Date("2023-11-14"),
        image: "/images/blowjob.jpg"
    },
    {
        title: "Hvilket kondom?",
        tidsdpunkt: new Date("2023-11-16"),
        image: "/images/netflix.jpg"
    },
    {
        title: "Udflåd?",
        tidsdpunkt: new Date("2023-11-16"),
        image: "/images/udflaad.jpg"
    },
]

---

<Layout>
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto text-left">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Bliv bedre til sex</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">De bedste tips & tricks til bedre sexliv</p>
          </div>
          <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            {blogContent.map((artikel) => <BlogCard title={artikel.title} tidsdpunkt={artikel.tidsdpunkt} image={artikel.image} href={artikel.href} />)}
            <!-- More posts... -->
          </div>
        </div>
      </div>
</Layout>